{
    "extends": "stylelint-config-standard",
    "files": ["**/*.css"],
    "fix": true,
    "overrides": [
        {
            "files": ["**/*.less"],
            "customSyntax": "postcss-less",
            "rules": {
                "function-no-unknown": [
                    true,
                    {
                        "ignoreFunctions": ["fade", "darken"]
                    }
                ]
            }
        }
    ]
}
