@font-face {
    font-family: digital;
    src: url("../fonts/digital-7 (mono).ttf");
}

@font-face {
    font-family: workSansThin;
    src: url("../fonts/WorkSans-Thin.ttf");
}

@font-face {
    font-family: workSansLight;
    src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
    font-family: workSans;
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: workSansMedium;
    src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: workSansBold;
    src: url("../fonts/WorkSans-Bold.ttf");
}

body {
    background-color: #202020;
}

pre {
    color: #f0f0f0;
    font-size: 18px;
}

:not(input, textarea),
:not(input, textarea)::after,
:not(input, textarea)::before {
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #505050;
}

input,
button,
textarea,
:focus {
    outline: none;
}

#window-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 22px;
    z-index: -5;
    background-color: #202020;
    cursor: pointer;
}

#content {
    position: fixed;
    top: 22px;
    left: 0;
}

#background {
    position: fixed;
    display: block;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

.indicator {
    position: absolute;
    background-color: rgb(0 0 0 / 0%);
    width: 5vw;
    height: 100vh;
    padding: 0;
    display: inline-block;
    margin: 0;
    z-index: -1;
    cursor: default;
}

#right-indicator {
    left: 95vw;
}

#centre-background {
    position: absolute;
    background-color: #202020;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: inline-block;
    margin: 0;
    left: 0;
    z-index: -3;
    background-size: cover;
    background-position: center;
}

#timer {
    vertical-align: bottom;
    text-align: center;
    font-size: 25vmin;
    font-family: digital, monospace;
    color: #e0e0e0;
    margin: 0;
}

#timer-split {
    vertical-align: bottom;
    text-align: center;
    font-size: 6vmin;
    font-family: digital, monospace;
    color: #e0e0e0;
    margin: 0;
    margin-left: 25vw;
    width: 50vw;
    margin-top: 0;
}

#announcement {
    vertical-align: middle;
    text-align: center;
    font-size: 6vmin;
    font-family: workSansLight, sans-serif;
    white-space: nowrap;
    color: #e0e0e0;
    margin: 0;
    margin-top: 27vmin;
    z-index: 0;
    opacity: 0;
}

#scramble-container {
    position: fixed;
    top: 32px;
    left: 300px;
    width: calc(100vw - 320px);
    height: 200px;
    margin: 0;
    padding: 0;
}

#scramble-previous {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    display: block;
}

#scramble-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    display: block;
}

#scramble {
    user-select: text;
    vertical-align: top;
    text-align: right;
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 40px;
    line-height: 40px;
    width: calc(100% - 60px);
    height: 100%;
    color: #c0c0c0;
    font-family: workSansLight, sans-serif;
    overflow-y: scroll;
    word-wrap: normal;
    margin: 0;
    display: block;
}

#scramble:hover {
    cursor: pointer;
    background-color: rgb(208 208 208 / 20%);
}

#stats {
    display: block;
    position: absolute;
    width: 284px;
    left: 10px;
    top: 10px;
    background-color: rgb(0 0 0 / 0%);
    cursor: default;
}

button {
    display: inline-block;
    height: 30px;
    font-family: workSans, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    background-color: #303030;
    border-color: #606060;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    border-color: #404040;
    transition: 0.1s;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

button:active {
    cursor: pointer;
    background-color: #202020;
    border-color: #404040;
    color: #a0a0a0;
    transition: 0.1s;
}

.cross {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #303030;
}

#session-button,
#event-button {
    width: 30px;
    margin-left: 10px;
    margin-top: 0;
    background-size: contain;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 240px;
}

#event-button {
    top: 0;
    left: 240px;
}

#preferences-button,
#preview-button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 324px;
    bottom: 10px;
    padding: 0;
}

#preview-button {
    right: 364px;
}

#session-buttons {
    display: block;
    margin-top: 20px;
    height: 0;
    overflow-y: hidden;
    cursor: default;
}

#new-session-button {
    width: 133px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#transfer-session-button {
    width: 133px;
    margin-bottom: 10px;
}

#clear-session-button {
    width: 133px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#delete-session-button {
    width: 133px;
    margin-bottom: 10px;
}

#session-container {
    height: 30px;
    margin: 0;
    padding: 0;
}

.disabled {
    cursor: default;
    opacity: 0.4;
    transition: 0.2s;
}

button.disabled:hover {
    cursor: default;
    border-color: #606060;
    transition: 0.1s;
}

button.disabled:active {
    cursor: default;
    background-color: #303030;
    border-color: #606060;
    color: #f0f0f0;
    transition: 0.1s;
}

select {
    appearance: none;
    width: 280px;
    height: 30px;
    border-color: #606060;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    font-family: workSans, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    background-color: #303030;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 8px;
    cursor: pointer;
    transition: 0.1s;
}

select:focus {
    outline: 0;
}

select:hover {
    cursor: pointer;
    border-color: #404040;
    transition: 0.1s;
}

select.disabled:hover {
    cursor: default;
    background-color: #303030;
    border-color: #606060;
    color: #f0f0f0;
    transition: 0.1s;
}

#session-select {
    width: 240px;
    position: absolute;
    top: 40px;
    left: 0;
}

#event-select {
    width: 240px;
}

input[type="text"],
textarea {
    width: 227px;
    height: 24px;
    border-color: #606060;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    font-family: workSans, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    background-color: #303030;
    resize: none;
}

#session-select-text {
    padding-left: 8px;
    position: absolute;
    top: 40px;
    left: 0;
}

#add-time-input {
    width: 100px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

#add-scramble-input {
    width: 273px;
    height: 90px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

#custom-scramble {
    width: 374px;
    height: 90px;
    margin-bottom: 0;
    margin-top: 12px;
    margin-left: 0;
}

#session-solves-table {
    width: 280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    transition: 0.1s;
}

#session-details {
    width: 280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    border-bottom: 0;
    transition: 0.1s;
}

#session-stats {
    width: 280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    border-top: 0;
    transition: 0.1s;
}

#session-records-container {
    margin-top: 10px;
    width: 278px;
    border: 1px solid #606060;
    max-height: calc(100vh - 380px);
    display: block;
    overflow: auto;
    transition: 0.1s;
}

#session-records {
    width: 270px;
    border-collapse: collapse;
    overflow: auto;
    display: block;
    margin-top: 0;
    margin-left: 0;
}

#session-records-header {
    display: block;
    width: 270px;
    overflow: auto;
    position: fixed;
    border-collapse: collapse;
    border-bottom: 1px solid #606060;
}

td {
    height: 30px;
    border: 1px solid #606060;
    padding-top: 0;
    padding-bottom: 0;
    font-family: workSans, sans-serif;
    color: #d0d0d0;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    background-color: #303030;
}

td p {
    background: clear;
    user-select: text;
    cursor: text;
}
margin: 7.5px 0;

table td:first-child {
    font-family: workSansBold, sans-serif;
    color: #f0f0f0;
}

table tr:first-child td {
    font-family: workSansBold, sans-serif;
    color: #f0f0f0;
}

#session-details td:first-child {
    width: 140px;
    font-family: workSans, sans-serif;
}

#session-details td:nth-child(2) {
    width: 140px;
    font-family: workSans, sans-serif;
}

#session-details td:first-child b {
    font-family: workSansBold, sans-serif;
}

#session-details td:nth-child(2) b {
    font-family: workSansBold, sans-serif;
}

#session-stats td:first-child {
    width: 70px;
}

#session-stats td:nth-child(2) {
    width: 105px;
}

#session-stats td:nth-child(3) {
    width: 105px;
}

#session-records-header td:nth-child(1),
#session-records td:first-child {
    width: 28px;
    margin-left: 0;
    margin-right: 0;
}

.selectable:hover,
.selectable p:hover {
    background: #202020;
    cursor: pointer;
}

#dialog-preferences p {
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 15px;
}

#session-records-header td:nth-child(2),
#session-records td:nth-child(2),
#session-records td:nth-child(2) p {
    width: 82px;
    cursor: pointer;
}

#session-records-header td:nth-child(3),
#session-records td:nth-child(3) {
    width: 82px;
}

#session-records-header td:nth-child(4),
#session-records td:nth-child(4) {
    width: 82px;
}

#session-records tr:first-child td {
    background: #303030;
    cursor: text;
}

#session-records td:nth-child(2):hover {
    background: #202020;
}

#session-records tr:first-child td p {
    cursor: text;
}

#session-records tr:first-child td:hover {
    background: #303030;
}

#add-time-button {
    width: 100%;
    border-width: 0;
}

#dialog-record {
    background: #303030;
    border-color: #606060;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    font-family: workSans, sans-serif;
    font-size: 18px;
    display: block;
    color: #f0f0f0;
    height: 29px;
    box-shadow: 0 5px 10px 3px rgb(0 0 0 / 40%);
    cursor: default;
}

#dialog-manage-events,
#dialog-show-info,
#dialog-scramble,
#dialog-preferences,
#dialog-preview,
#dialog-cs-timer,
#dialog-add-time,
#dialog-blind-result,
#dialog-transfer-session,
#dialog-update {
    background: #303030;
    border-color: #606060;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    font-family: workSans, sans-serif;
    font-size: 18px;
    display: block;
    color: #f0f0f0;
    box-shadow: 0 5px 10px 3px rgb(0 0 0 / 40%);
    cursor: default;
}

#dialog-scramble {
    padding: 10px;
    padding-top: 0;
}

#dialog-cs-timer,
#dialog-add-time,
#dialog-transfer-session {
    padding-left: 10px;
    padding-right: 10px;
}

#message-show-info {
    margin: 0;
    margin-top: 30px;
    width: 616px;
    padding: 10px;
    max-height: 365px;
    overflow-y: scroll;
    user-select: text;
    cursor: text;
    border-top: 2px solid #505050;
}

#dialog-preferences select {
    width: 100px;
}

#dialog-update {
    padding-left: 10px;
}

.tab button {
    border-bottom: 0;
}

.ui-tabs-active button {
    border-bottom: solid 2px #282828;
}

:not(.ui-tabs-active).tab button {
    border-bottom: solid 2px #505050;
    margin-bottom: -2px;
}

#dialog-record button {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-width: 2px;
    display: block;
    float: left;
}

#close-preferences,
#close-preview,
#close-show-info,
#close-update {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    height: 30px;
    width: 30px;
}

#save-preferences {
    margin-left: 10px;
    margin-top: 0;
}

#save-preview {
    margin-top: 12px;
    margin-left: 10px;
}

#preview-video {
    width: 480px;
    height: 360px;
    display: block;
    margin-left: 0;
    margin-top: 30px;
    border-bottom: solid 2px;
    border-top: solid 2px;
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
    color: #f0f0f0;
}

.ui-dialog:focus {
    outline: 0;
}

#record-date,
#record-time {
    user-select: text;
    display: block;
    font-size: 18px;
    margin: 0;
    position: absolute;
    color: #fff;
    width: 263px;
    top: 35px;
    left: 5px;
    cursor: text;
}

#record-time {
    top: 55px;
}

#record-scramble {
    user-select: text;
    display: block;
    font-size: 18px;
    border-top: solid 2px #606060;
    top: 10px;
    left: 0;
    padding-left: 5px;
    position: absolute;
    color: #fff;
    overflow-y: scroll;
    word-wrap: normal;
    width: 264px;
    height: 80px;
    cursor: text;
}

#record-comment {
    user-select: text;
    display: block;
    font-size: 18px;
    border-top: solid 2px #606060;
    top: 160px;
    left: 0;
    padding-left: 5px;
    position: absolute;
    color: #fff;
    overflow-y: scroll;
    word-wrap: normal;
    width: 260px;
    height: 60px;
    cursor: text;
    vertical-align: top;
}

input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-color: #303030;
    border-color: #606060;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    cursor: pointer;
}

input[type="checkbox"].disabled {
    cursor: default;
}

input[type="checkbox"]:hover {
    border-color: #404040;
}

input[type="checkbox"]:active {
    border-color: #404040;
    background-color: #202020;
}

#version-banner-container {
    transition: top 0.6s;
    display: block;
    position: fixed;
    top: -110px;
    left: 0;
    width: 100vw;
    z-index: 5;
}

#version-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #44f;
    transition: 0.1s;
}

#version-banner:hover {
    background-color: #3b3bbb;
    cursor: pointer;
}

#version-message {
    font-size: 25px;
    font-family: workSans, sans-serif;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    cursor: pointer;
}

#close-version {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-color: #33b;
    background-color: #44f;
}

#close-version:hover {
    border-color: #228;
    background-color: #44f;
}

#close-version:active {
    border-color: #228;
    background-color: #33b;
}

.tab {
    display: inline-block;
    margin-top: 0;
    margin-bottom: -2px;
}

#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4 {
    border-bottom: solid 2px #505050;
    border-top: solid 2px #505050;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    max-height: 320px;
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

ul li {
    display: inline;
}

#tool-select {
    width: 264px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: -1;
}

#tool-select-label {
    position: fixed;
    bottom: 15px;
    right: 60px;
}

#tools {
    width: 304px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: block;
}

.tool {
    width: 300px;
    height: 200px;
    position: relative;
    margin: 10px 0 0;
    border-color: #505050;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    display: block;
    background-color: #282828;
    cursor: default;
}

.close-tool {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    opacity: 0.4;
    z-index: 1;
    transition: 0.1s;
}

.close-tool:hover {
    opacity: 1;
    transition: 0.1s;
}

#add-tool-button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #303030;
    padding: 0;
}

#preview-button.loading {
    background-color: #282828;
}

#confetti {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: -2;
}

#metronome-start-stop-button {
    margin-top: 50px;
    margin-left: 30px;
    width: 100px;
    height: 50px;
}

#metronome-bpm-label {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 5px;
    color: #f0f0f0;
    font-family: workSansLight, sans-serif;
}

#metronome-bpm-slider {
    width: 260px;
    margin-top: 40px;
    margin-left: 20px;
    appearance: none;
    height: 8px;
    background: #606060;
    outline: none;
    cursor: pointer;
}

#metronome-bpm-slider::-webkit-slider-thumb {
    appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 5px 10px 3px rgb(0 0 0 / 40%);
}

#dialog-manage-events {
    padding-top: 10px;
}

#dialog-blind-result {
    padding-left: 10px;
}

#events-list {
    width: calc(100%);
    height: 374px;
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border-bottom: solid 1px #606060;
    border-top: solid 1px #606060;
    overflow-y: scroll;
}

.event-item {
    display: block;
    padding-top: 0;
    width: calc(100% - 2px);
    height: 30px;
    border: solid 1px #606060;
    background-color: #303030;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    cursor: move;
}

.delete {
    width: 30px;
    height: 30px;
    background-color: #303030;
}

#startup-cover {
    z-index: 100;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #181818;
}

#startup-image {
    position: absolute;
    top: calc(50vh - 120px);
    left: calc(50vw - 120px);
    width: 240px;
    height: 240px;
}
