@import url("../vendor/fontawesome/less/fontawesome.less");
@import url("../vendor/fontawesome/less/solid.less");

@fa-font-path: "../vendor/fontawesome/fonts";

@background: #181818;
@timer: #f0f0f0;
@scramble: #b0b0b0;
@base: #303030;
@border: #606060;
@text: #e0e0e0;
@timerSize: 25vmin;
@timerSecondSize: 8vmin;
@darken: 40%;

p,
pre {
    color: @text;
}

::-webkit-scrollbar-track {
    background: @base;
}

::-webkit-scrollbar-thumb {
    background: @border;
}

body {
    background-color: @background;
}

#window-bar {
    background-color: @background;
}

.indicator {
    background-color: @background;
}

#background,
#centre-background {
    background-color: @background;
}

#timer,
#announcement,
#timer-split {
    color: @timer;
}

#announcement {
    margin-top: calc(50vmin - (@timerSecondSize + (@timerSize / 2)));
    font-size: @timerSecondSize;
}

#timer {
    font-size: @timerSize;
}

#timer-split {
    font-size: @timerSecondSize;
}

#scramble {
    color: @scramble;
    background-color: fade(@scramble, 10%);
}

#scramble:hover {
    background-color: fade(@scramble, 20%);
}

#scramble.disabled:hover {
    color: @scramble;
    background-color: fade(@scramble, 10%);
    cursor: default;
}

#scramble-previous {
    .fa-icon-solid(@fa-var-backward);
}

#scramble-next {
    .fa-icon;
    .fas;

    &::before {
        content: @fa-var-forward;
    }
}

button,
#tool,
input,
button.disabled,
button.disabled:hover,
button.disabled:active,
input[type="text"],
textarea,
td,
#dialog-preferences,
#dialog-preview,
#dialog-show-info,
#dialog-cs-timer,
#dialog-add-time,
#dialog-record,
#dialog-scramble,
input[type="checkbox"],
#session-stats,
#preview-video,
#session-records,
tr:first-child td,
.tool,
select.disabled:hover,
#dialog-manage-events,
#dialog-blind-result,
#dialog-transfer-session,
#dialog-update {
    color: @text;
    background-color: @base;
    border-color: @border;
}

.close-tool.disabled:hover {
    color: @text;
    background-color: @base;
    border-color: @border;
    opacity: 0.4;
}

#session-records-container {
    border-color: @border;
    background-color: @base;
}

select {
    border-color: @border;
    color: @text;
}

button,
select,
input,
textarea,
#tool,
#session-records,
#session-stats,
#session-details,
#session-records-container {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

button:hover,
select:hover,
input[type="checkbox"]:hover {
    border-color: darken(@border, @darken, relative);
}

button:active {
    background-color: darken(@base, @darken, relative);
    border-color: darken(@border, @darken, relative);
    color: darken(@text, @darken, relative);
}

.cross {
    .fa-icon;
    .fas;

    &::before {
        content: @fa-var-close;
    }
}

#session-button,
#event-button {
    background-color: @base;
    .fa-icon;
    .fas;

    &::before {
        content: @fa-var-list;
    }
}

#preferences-button {
    background-color: @base;
    .fa-icon;
    .fas;

    &::before {
        content: @fa-var-gear;
    }
}

#preview-button {
    background-color: @base;
    .fa-icon;
    .fas;

    &::before {
        content: @fa-var-video;
    }
}

.cross:active,
#event-button:active,
#session-button:active,
#preview-button:active,
#preferences-button:active {
    background-color: darken(@base, @darken, relative);
}

label {
    position: relative;
    color: @text;
}

label:after {
    .fa-icon;
    .fas;
    content: @fa-var-caret-down;
}

#add-tool-button {
    border-color: @border;
    background-color: @base;
    .fa-icon;
    .fas;
    &::before {
        content: @fa-var-plus;
    }
}

select:hover {
    border-color: darken(@border, @darken, relative);
}

#session-solves-table,
#session-details,
#session-records,
#session-records-header,
#record-scramble,
#record-comment {
    border-color: @border;
}

.selectable:hover,
.selectable p:hover {
    background: darken(@base, @darken, relative);
}

.selectable.disabled:hover,
.selectable.disabled p:hover {
    background: @base;
    cursor: default;
}

#session-records tr:first-child td {
    background: @base;
}

#session-records td:nth-child(2):hover {
    background: darken(@base, @darken, relative);
    color: darken(@text, @darken, relative);
}

#session-records td:nth-child(2).disabled:hover,
#session-records td:nth-child(2).disabled p:hover {
    background: @base;
    color: @text;
    cursor: default;
}

#session-records tr:first-child td:hover {
    background: @base;
}

.ui-dialog .ui-dialog-titlebar {
    color: @text;
}

#record-scramble,
#record-date,
#record-time {
    color: @text;
}

.splits-text {
    text-align: center;
}

input[type="checkbox"]:checked {
    position: relative;
    vertical-align: middle;
    .fa-icon;
    .fas;
    &::before {
        position: absolute;
        top: 25%;
        left: 25%;
        content: @fa-var-check;
    }
}

input[type="checkbox"]:active {
    border-color: darken(@border, @darken, relative);
    background-color: darken(@base, @darken, relative);
}

.ui-tabs-active button {
    border-color: solid 2px @border;
}

.tab button {
    border-bottom: 0px;
    transition: 0s;
}

.tab a button,
#add-time-button,
#session-records {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

:not(.ui-tabs-active).tab button {
    border-color: @border;
    padding-bottom: 0px;
    border-bottom-color: solid 2px @base;
}

#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4 {
    border-bottom: solid 2px @border;
    border-top: solid 2px @border;
}

#preview-button.loading {
    background-color: @base;

    color: @text;
    &::before {
        .fa-icon;
        .fas;
        .fa-spin;
        content: @fa-var-spinner;
    }
}

#message-show-info {
    border-top-color: @border;
}

#metronome-bpm-slider {
    background-color: @border;
}

#metronome-bpm-slider::-webkit-slider-thumb {
    background-color: @text;
}

#metronome-bpm-label {
    color: @text;
}

#events-list {
    border-bottom: solid 1px @border;
    border-top: solid 1px @border;
}

.event-item {
    border: solid 1px @border;

    &::before {
        position: absolute;
        top: 25%;
        left: 1%;
        .fa-icon;
        .fas;
        content: @fa-var-sort;
    }
}

.delete {
    background-color: @base;
    .fa-icon;
    .fas;
    &::before {
        content: @fa-var-minus;
    }
}
